<%= form_with(model: shopping, local: true) do |form| %>
  <% if shopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shopping.errors.count, "error") %> prohibited this shopping from being saved:</h2>

      <ul>
      <% shopping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    品名
    <%= form.text_field :name %>
  </div>

  <div class="field">
    数量
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    メモ
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit '保存' %>
  </div>
<% end %>
