<p id="notice"><%= notice %></p>

<h1>お買い物リスト</h1>

<table>
  <thead>
    <tr>
      <th>品名</th>
      <th>数量</th>
      <th>メモ</th>
      <th colspan="2""></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppings.each do |shopping| %>
      <tr>
        <td><%= shopping.name %></td>
        <td><%= shopping.unit %></td>
        <td><%= shopping.memo %></td>
        <td><%= link_to '編集', edit_shopping_path(shopping) %></td>
        <td><%= link_to '削除', shopping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいお買い物', new_shopping_path %>
